section#contact {
  overflow: hidden;
  margin: 0 8px;
  position: relative;
  word-wrap: break-word;
  @media $tablet-portrait {
    padding-right: 28%;
    height: 100%;
    margin: 0 128px;
  }
  .contact-info {
    font-size: 26px;
    font-family: "NanumGothic";
  }

  address {
    font-style: normal;
    margin: 1em 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .description {
    line-height: 1.4;
  }

  img {
    display: block;
    width: 100%;
    @media tablet-portrait {
      position: absolute;
      top: 50%;
      right: 0;
      width: 28%;
      transform: translateY(-50%);
    }
  }

}