section#intro {
  display: none;
  background: white url('http://files.human-nyc.com/mountain-stream-ringtone/msr-big.gif') center no-repeat;
  background-size: contain;
  pointer-events: none;
  position: fixed;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
