html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  // background: white url('http://files.human-nyc.com/mountain-stream-ringtone/msr-big.gif') center no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

section {
  // background: white url('http://files.human-nyc.com/mountain-stream-ringtone/msr-big.gif') center no-repeat;
  // background-attachment: fixed;
  // background-size: contain;
}