section#music-player {
  // background: oldLace;
  position: relative;
  @media tablet-portrait {
    // height: 100%;
  }
  iframe {
    @media tablet-portrait {
      position: absolute;
      top: 50%;
      left: 0;
      width: 72%;
    }
  }

  img {
    display: block;
    width: 100%;
    @media tablet-portrait {
      width: 28%;
      margin-left: auto;
    }

  }

}


.g-background-default {
  background: transparent !important;
}