section#slideshow {
  // background: green;
  // height: 200%;
  // height: 550px;
  overflow: hidden;
  position: relative;
  .stage {
    // position: fixed;
    position: relative;
    margin: auto;
    transform: scale(.3333);
    transform-origin: 0 0;
    transition-duration: 600ms;
    transition-property: transform;

    @media $tablet-portrait {
      width: 100%;
    }

    &.zoomed {
      cursor: zoom-out;
      // transition-duration: 600ms;
      a.slide {
        padding: 0;
      }
      img {
        cursor: pointer;
      }
    }
  }
  a.slide {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px;
    img {
      cursor: zoom-in;
      display: block;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
    &:nth-child(odd) {
      background: black;
    }
  }


  img.home-button {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
  }
  .stage.zoomed ~ img.home-button {
    cursor: zoom-out;
  }
}